<% require 'devise/version' %>
<p><%= t('.greeting', :recipient => @resource.email, :default => "Hello #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "Вы запросили замену пароля. Это доступно по следующей ссылке.") %></p>

<p><%= link_to t('.action', :default => "Изменить пароль"), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('.instruction_2', :default => "Если Вы не запрашивали замену пароля, пожалуйста, проигнорируйте это сообщение.") %></p>
<p><%= t('.instruction_3', :default => "Ваш пароль не может быть изменен. До тех пор пока Вы не подтвердите ссылку и не создадите новый пароль") %></p>
